@font-face {
  font-family: "OS";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pd";
  src: url("../fonts/pd.woff2") format("woff2"), url("../fonts/pd.woff") format("woff");
}
.btn:hover {
  cursor: pointer;
}

input:focus {
  outline: 1px solid #A65CF0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu {
  width: 100%;
  gap: 0;
  display: grid;
  grid-template-rows: minmax(50px, auto) minmax(91px, auto) minmax(60px, auto);
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  overflow: hidden;
}
@media (max-width: 1170px) {
  .menu {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: minmax(58px, auto) minmax(50px, auto) minmax(92px, auto) minmax(60px, auto);
  }
}
@media (max-width: 979px) {
  .menu {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px 50px 93px 52px 60px;
  }
}
@media (max-width: 650px) {
  .menu {
    grid-template-rows: 53px 78px 38px 60px;
  }
}
.menu__line {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  left: 0;
  top: 0;
  height: 50px;
  z-index: -1;
}
@media (max-width: 1170px) {
  .menu__line {
    top: 58px;
  }
}
@media (max-width: 650px) {
  .menu__line {
    top: 0;
  }
}
.menu__tel {
  grid-area: tel;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 14px;
}
.menu__tel:hover svg use {
  fill: #FFBD59;
}
.menu__tel:hover a {
  color: #FFBD59;
}
.menu__tel:focus {
  background-color: #FFF5D1;
  color: #FF862F;
}
.menu__tel:focus svg use {
  fill: #FF862F;
}
.menu__tel:active svg use {
  fill: #BB370E;
}
.menu__tel:active a {
  color: #BB370E;
}
@media (max-width: 650px) {
  .menu__tel {
    grid-column: 1/4;
    grid-row: 2;
  }
}
.menu__tel-icon {
  position: relative;
  top: 1.5px;
  left: 1.9px;
}
.menu__tel-link {
  position: relative;
  top: -2px;
}
.menu__tel-link::before {
  content: "";
  position: absolute;
  display: none;
  left: -20px;
  top: 0;
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: #FFF5D1;
  z-index: -1;
}
.menu__tel-link:focus {
  color: #FF862F;
}
.menu__tel-link:focus::before {
  display: block;
}
.menu__second-nav {
  grid-area: sec-nav;
  z-index: 1;
  justify-self: end;
  grid-column: 6/13;
  grid-row: 1;
  color: #999999;
  font-size: 14px;
  width: 95%;
}
@media (max-width: 1170px) {
  .menu__second-nav {
    grid-column: 1/8;
    grid-row: 2;
    justify-self: start;
  }
}
@media (max-width: 979px) {
  .menu__second-nav {
    grid-column: 1/7;
    justify-self: center;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .menu__second-nav {
    display: none;
  }
}
.menu__second-nav-list {
  white-space: nowrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .menu__second-nav-list {
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .menu__second-nav-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}
.menu__logo {
  grid-area: logo;
  grid-column: 1/3;
  grid-row: 2;
  position: relative;
  top: 1px;
}
@media (max-width: 1170px) {
  .menu__logo {
    grid-column: 1/3;
    grid-row: 3;
  }
}
@media (max-width: 650px) {
  .menu__logo {
    grid-row: 1;
    grid-column: 1/7;
    justify-self: center;
  }
}
.menu__main-nav {
  grid-area: main-nav;
  justify-self: end;
  grid-column: 4/13;
  grid-row: 2;
  font-size: 16px;
  color: #333333;
  width: 99.2%;
  position: relative;
  top: 1px;
}
@media (max-width: 1170px) {
  .menu__main-nav {
    grid-column: 3/10;
    grid-row: 3;
    width: 95%;
    top: -1px;
  }
}
@media (max-width: 979px) {
  .menu__main-nav {
    grid-column: 1/7;
    grid-row: 4;
    justify-self: center;
    font-size: 14px;
    width: 100%;
    align-self: start;
  }
}
@media (max-width: 768px) {
  .menu__main-nav {
    height: 100%;
  }
}
@media (max-width: 650px) {
  .menu__main-nav {
    width: 105%;
    justify-self: left;
    grid-row: 3;
    top: 2px;
  }
}
.menu__main-nav-list {
  white-space: nowrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .menu__main-nav-list {
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .menu__main-nav-list::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
.menu__search {
  grid-area: search;
  grid-column: 1/11;
  grid-row: 3;
  position: relative;
  height: 100%;
}
.menu__search form {
  height: 100%;
}
.menu__search search, .menu__search search form {
  height: 100%;
}
@media (max-width: 1170px) {
  .menu__search {
    grid-column: 1/8;
    grid-row: 4;
  }
}
@media (max-width: 979px) {
  .menu__search {
    grid-row: 5;
  }
}
@media (max-width: 650px) {
  .menu__search {
    grid-row: 4;
    grid-column: 1/7;
  }
}
.menu__btns {
  grid-area: btns;
  grid-column: 11/13;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 1px;
}
@media (max-width: 1170px) {
  .menu__btns {
    grid-column: 9/10;
    grid-row: 2;
  }
}
@media (max-width: 979px) {
  .menu__btns {
    grid-column: 5/7;
    grid-row: 3;
  }
}
@media (max-width: 650px) {
  .menu__btns {
    grid-row: 2;
    grid-column: 4/7;
  }
}
.menu__btns-user:first-child {
  margin-right: 40px;
}
.menu__btns-user svg {
  cursor: pointer;
}
.menu__btns-user svg:hover path {
  fill: #C998FB;
}
.menu__btns-user svg:focus {
  background-color: #C998FB;
}
.menu__btns-user svg:focus path {
  fill: #fff;
}
.menu__btns-user svg:active path {
  fill: #7033AC;
}
.menu__btns-basket svg {
  cursor: pointer;
  position: relative;
}
.menu__btns-basket svg:hover path {
  fill: #C998FB;
}
.menu__btns-basket svg:focus {
  background-color: #C998FB;
}
.menu__btns-basket svg:focus path {
  fill: #fff;
}
.menu__btns-basket svg:active path {
  fill: #7033AC;
}
.menu__btns-basket svg::after {
  position: absolute;
  content: "1";
  left: -11px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF862F;
  color: #fff;
  padding: 0 4px;
  font-size: 11px;
  font-weight: bold;
}
.menu__second-nav-list, .menu__main-nav-list {
  display: flex;
  flex-direction: row;
}
.menu__second-nav-item {
  cursor: pointer;
}
.menu__second-nav-item:hover {
  color: #A65CF0;
}
.menu__second-nav-item:focus {
  color: #7033AC;
  background-color: #EBD1FF;
}
.menu__second-nav-item a:focus {
  color: #7033AC;
  background-color: #EBD1FF;
  outline: 1px solid initial;
}
.menu__second-nav-item:active {
  background-color: initial;
  color: #7033AC;
}
@media (max-width: 768px) {
  .menu__second-nav-item {
    margin-right: 35px;
  }
}
@media (max-width: 650px) {
  .menu__second-nav-item:last-child {
    margin-right: 60px;
  }
}
.menu__main-nav-item {
  cursor: pointer;
}
.menu__main-nav-item:hover {
  color: #A65CF0;
}
.menu__main-nav-item:focus {
  color: #333;
  background-color: #EBD1FF;
}
.menu__main-nav-item a:focus {
  color: #7033AC;
  background-color: #EBD1FF;
  outline: 1px solid initial;
}
.menu__main-nav-item:active {
  background-color: initial;
  color: #7033AC;
}
@media (max-width: 768px) {
  .menu__main-nav-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 650px) {
  .menu__main-nav-item:last-child {
    margin-right: 60px;
  }
}
.menu__search-btn {
  cursor: pointer;
  position: absolute;
  right: 31.5px;
  top: 13px;
  background-color: initial;
  border: none;
}
.menu__search-btn:hover g path {
  stroke: #fff;
  z-index: 2;
}
.menu__search-btn:hover g circle {
  fill: #A65CF0;
  z-index: 1;
}
.menu__search-btn:focus g circle {
  fill: #C998FB;
}
.menu__search-btn:focus g path {
  stroke: #fff;
}
.menu__search-btn:active g circle {
  fill: #7033AC;
  stroke: #7033AC;
}
.menu__search-btn:active g path {
  stroke: #fff;
}
@media (max-width: 1170px) {
  .menu__search-btn {
    right: 33.5px;
  }
}
@media (max-width: 979px) {
  .menu__search-btn {
    right: 25px;
  }
}
.menu__search-input {
  height: 100%;
  width: 99.4%;
  border: none;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 0 59px;
}
.menu__search-input:hover {
  background-color: #EAEAEA;
}
.menu__search-input:focus {
  background-color: #F8EFFF;
}
@media (max-width: 1170px) {
  .menu__search-input {
    width: 98.9%;
  }
}
.menu__search-icon {
  position: absolute;
  top: 22px;
  left: 34px;
}/*# sourceMappingURL=header.css.map */